/* Contact Section */
.contact {
  background-color: #333;
  padding: 66px 0;
  text-align: center;
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.info-item {
  margin: 0 20px;
  text-align: center;
  flex-basis: 30%; 
  min-width: 150px;
}

.info-item i {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: none;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e60000;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .contact h2 {
    font-size: 28px; 
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .info-item {
    margin-bottom: 20px; 
    flex-basis: auto; 
  }

  .contact-container {
    padding: 0 10px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px; 
  }

  .contact-form button {
    width: 100%; 
  }
}
