/* Footer */
.footer {
  background-color: #070e16;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh; 
}

.footer-text {
  font-size: 14px;
}
