/* Hero */
.hero {
  background-image: url("hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.hero-content {
  max-width: 600px;
  padding: 20px;
  margin-left: 4%;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #cc0000;
}

@media (max-width: 768px) {
  .hero-content {
      text-align: center;
      margin-left: 0;
  }

  .hero-content h1 {
      font-size: 36px;
  }

  .hero-content p {
      font-size: 18px;
  }
}
